@charset "utf-8";

/*
================================================================================
    페이지 버튼 디자인
================================================================================
*/
.page-contents-buttons { clear:both; display:flex; justify-content: center; padding:20px 0 }
.page-contents-buttons .btn {
    font-size:18px;
    display:block;
    width:150px; margin:0 5px;
    line-height: 3em;
    height:3em;
    background:#f9f9f9;
}
.page-contents-buttons .btn:hover {background:#dfdfdf}
.page-contents-buttons .btn.btn-submit {color:#fff;background:#4876ef;}
.page-contents-buttons .btn.btn-submit:hover {background:#3a8afd;}

/*
================================================================================
    페이지 컨텐츠 디자인 (공통)
================================================================================
*/
.page-contents { font-size:18px; line-height: 1.6; min-height: 500px }


.page-contents .full-width {
    position: absolute;
    z-index: 0;
    left: 379px;
    padding-right:50px;
    width: calc(100% - 379px);
}
.page-contents.cke_editable .full-width {
    position: relative;
    left: 0;
    width: 100%;
}
.page-contents .full-width .wrap {
    margin:0 auto;
}

/*
    페이지 섹션 스타일
*/
.page-contents .section { text-align:center; color:#191919; padding-bottom: 100px }
.page-contents .section h2 {color:#191919;font-size: 42px;font-weight: bold;padding-top:190px}
.page-contents .section p:nth-child(3) { font-size:14px; color:#656565 }

.page-contents .title-section {text-align:center;color:#191919}
.page-contents .title-section h2 {color:#191919;font-size: 42px;font-weight: bold}


/* 테이블 */
.page-contents table.base,
.page-contents table.base td,
.page-contents table.base th {
    border: 1px solid #d6d6d6;
    padding: 10px;
}
.page-contents table.base {
    width:100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

/*
-----------------------------------------------------------
기본 목록 스타일
-----------------------------------------------------------
*/
.page-contents ul { list-style:none; margin:0; padding:0 }
.page-contents ul li {
    padding-left:16px;
    font-size:15px;
    font-weight: 400;
    color:#111111; margin-bottom: 10px;
    background:no-repeat left .6em url("img/detail-page-bullet-type1.png")
}

/*
-----------------------------------------------------------
박스 타입
-----------------------------------------------------------
*/

/* Type1 */
.page-contents #box.box-type1 { border:1px solid #d5d5d5; padding:50px }
.page-contents #box.box-type1 h3 { font-size:19px; margin-bottom: 20px }

/*
-----------------------------------------------------------------------------
Headings
-----------------------------------------------------------------------------
*/
.page-contents h1 {font-size:40px; color:#191919; font-weight:700; margin-bottom:10px}
.page-contents h2 {font-size:23px; color:#191919; font-weight:700; margin-bottom:20px}
.page-contents h3 {font-size:20px; color:#191919; font-weight:700; margin-bottom:20px}


/*
-----------------------------------------------------------------------------
레이아웃
-----------------------------------------------------------------------------
*/
.page-contents .layout_2col { display:flex; justify-content: space-between }
.page-contents .layout_2col .col1 { width:50%; margin-right:15px }
.page-contents .layout_2col .col2 { width:50%; margin-left: 15px }

/*
-----------------------------------------------------------------------------
테이블 스타일
-----------------------------------------------------------------------------
*/
.page-contents table.type1 { border-collapse: collapse; border:none; text-align:center; margin-bottom:20px; width:100% }
.page-contents table.type1 td,
.page-contents table.type1 th { padding:15px 0; border:1px solid #e1e1e1 }
.page-contents table.type1 th { font-weight:500; background-color: #f9f9f9; border-top:1px solid #000 }
.page-contents table.type1 td:first-child,
.page-contents table.type1 th:first-child { border-left:0 }
.page-contents table.type1 td:last-child,
.page-contents table.type1 th:last-child { border-right:0 }
.page-contents table.type1.no-border td,
.page-contents table.type1.no-border th { border-left:0; border-right:0 }
.page-contents table.type1 tbody .last-line td { position:absolute; margin-top:-1px; padding:0; border:none; border-bottom: 1px solid #c0c0c0 }

/*
-----------------------------------------------------------------------------
아코디언
-----------------------------------------------------------------------------
*/
.page-contents .accordion { border-top: 1px solid #000;border-bottom:1px solid #c0c0c0;}
.page-contents .ui-accordion .ui-accordion-header {
    border:none;border-top:1px solid #c0c0c0;border-radius: 0;
    margin-top:0;padding:20px 40px;
    background-color: #fff;
    line-height: 40px;
    font-size:20px;
    outline: none;
    color: #191919
}
.page-contents .ui-accordion .ui-accordion-header.ui-state-active {
    color: #4876ef
}
.page-contents .ui-accordion .ui-accordion-header span { display:none }
.page-contents .ui-accordion .ui-accordion-header:after {
    content: "\f067";
    font-family: FontAwesome, serif;
    float:right;
}
.page-contents .ui-accordion .ui-accordion-header.ui-state-active:after {
    content: "\f068";
}

.page-contents .ui-accordion .ui-accordion-content {
    padding: 55px 45px;
    border: none;
    font-size:15pt;
    background: #f9f9f9
}
.page-contents .ui-accordion .ui-accordion-content h4 {margin-bottom:20px}


/*
-----------------------------------------------------------------------------
박스형 컬럼 디자인
-----------------------------------------------------------------------------
*/
.page-contents .box-contents-col2 { display:flex; flex-wrap:wrap; justify-content: space-between }
.page-contents .box-contents-col2 .col { width:585px; background:#f9f9f9; margin-bottom:30px }
.page-contents .box-contents-col2 .col .content { color:#656565; border-top:1px solid #cccfd6; margin:0 36px 50px 36px }
.page-contents .box-contents-col2 .col .content h3 { color:#191919; font-size: 23px; font-weight: bold; padding-top:27px }
.page-contents .box-contents-col2 .col .content p { padding-top:27px }

.page-contents .box-contents-col3 { display:flex; flex-wrap: wrap; justify-content: space-between }
.page-contents .box-contents-col3 .col { width:380px; background:#f9f9f9; margin-bottom:30px }
.page-contents .box-contents-col3 .col .content { color:#353535; border-top:1px solid #cccfd6; margin:0 35px 50px 35px }
.page-contents .box-contents-col3 .col .content h3 { color:#191919; font-size: 23px; font-weight: bold; padding-top:27px; margin-bottom:0; text-align: center }
.page-contents .box-contents-col3 .col .content p { font-size:18px; padding-top:17px }

.page-contents .box-contents-col3 .col .content2 { color:#353535; margin:0 36px 27px 36px }
.page-contents .box-contents-col3 .col .content2 h3 { color:#191919; font-size: 23px; font-weight: bold; padding-top:27px; margin-bottom: 0; text-align: center }
.page-contents .box-contents-col3 .col .content2 p { font-size:18px; padding-top:17px }

/* -----------------------------------------------------------------------------
연혁 페이지 디자인
*/
.page-contents table#history,
.page-contents table#history td,
.page-contents table#history th {border:none;}
.page-contents table#history th {
    color: #333;
    line-height: 1.4;
    text-align: left;
    width:432px;
    vertical-align: top;
    border-right:1px solid #e9e9eb;
    position:relative;
    padding:0 30px 50px 0;
}
.page-contents table#history th h1 {
    padding:0;
    margin:0;
    font-weight: 800;
    font-size:40px;
}
.page-contents table#history th h2 {
    margin-bottom:50px;
    font-weight: 400;
    font-size:16px;
    color:#666;
}
.page-contents table#history th:before {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    right: -13px;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border: 1px solid #4876f0;
    border-radius: 50%;
}
.page-contents table#history th:after {
    content: "";
    display: block;
    z-index: 3;
    position: absolute;
    top: 11px;
    right: -5px;
    width: 8px;
    height: 8px;
    background-color: #4876f0;
    border-radius: 50%;
}
.page-contents table#history th img,
.page-contents table#history th input[type="image"] {
    width: 300px !important;
    height: auto !important;
}

.page-contents table#history td {
    color:#333;
    font-weight: 400;
    position:relative;
    padding:0 0 80px 100px;
    font-size:20px;
}
.page-contents table#history td:before {
    content: "";
    display: block;
    z-index: 2;
    position: absolute;
    top: 11px;
    left: -5px;
    width: 8px;
    height: 8px;
    background-color: #e9e9eb;
    border-radius: 50%;
}
.page-contents table#history td strong {
    font-weight: 800;
}
.page-contents table#history td p {
    text-indent: -1.7em;
    margin-left: 1.7em;
}
.page-contents table#history td input[type="image"] {
    max-width: 100%;
}

/* 연혁 페이지 상단 탭 */
.page-contents table#history-nav,
.page-contents table#history-nav td {
    font-size:20px; font-weight: 400; color:#999;
    border:none;
    border-bottom:1px solid #d3d5da;
    text-align:center;
    cursor:pointer;
    padding:0 10px;
}
.page-contents table#history-nav td div.nav {
    display: inline-block;
    padding:10px 0;
    border-bottom:2px solid #fff;
}
.page-contents table#history-nav td.on div.nav {
    border-bottom:2px solid #4876f0;
    color:#4876f0;
}
.page-contents table#history-nav td:hover {color:#000;}
.page-contents table#history-nav.fixed {
    background: rgba(255, 255, 255, 0.9);
    position:fixed;
    width:1200px;
    top:48px;
    z-index: 10;
}

/*
================================================================================
    페이지별 컨텐츠 디자인
================================================================================
*/
#detail-page01-01-stat {
    background:no-repeat center center url("/theme/basic/img/page-image-1-1-3.png");
    background-size: cover;
    position:absolute;
    z-index: 0;
    left:379px;
    width: calc(100% - 379px);
    height:548px;
    padding-top:100px;
}
#detail-page01-01-stat table.base {
    width:1200px;
    margin:0 auto;
    border:none;
}
#detail-page01-01-stat table.base td {
    border:none;
    color:#fff;
    font-size:.7em;
    line-height: 1;
    padding:0 0 5px 0;
}

#detail-page01-01-stat table.base tr:nth-child(1) td {
    font-size:40px;
    font-weight: 700;
    padding-bottom:40px;
}
#detail-page01-01-stat table.base tr:nth-child(2) td {
    color:#44eca7;
    font-size:20px;
    font-weight: 900;
    padding-bottom:30px;
}
#detail-page01-01-stat table.base tr:nth-child(2) td strong {
    font-size:150px;
}

/* -----------------------------------------------------------------------------
    성과 페이지 디자인
*/
.page-contents table#achievement {
    border-collapse: separate;
    border-spacing: 20px;
    padding:0 20px;
}
.page-contents table#achievement,
.page-contents table#achievement td {
    font-size:18px; font-weight: 400; color:#666;
    border:none;
    text-align:center;
}
.page-contents table#achievement td {
    width:33%;
    padding:50px 0;
    background-color: #efefef;
}
.page-contents table#achievement td img {
    display:inline-block;
    margin-bottom:20px;
}




/*
-----------------------------------------------------------------------------
오시는길
-----------------------------------------------------------------------------
*/
.detail-way-to-come { border-top:1px solid #e8e8e8; padding:35px 0; font-size:18px; display:flex }
.detail-way-to-come:first-child { border-top:none }
.detail-way-to-come .title { min-width:140px; font-size: 20px; font-weight: 700; margin-right:20px !important; }
.detail-way-to-come .info { width:1000px; font-weight: 300 }
.detail-way-to-come .info ul li { text-indent:-155px; margin-left:155px !important; font-size:18px !important; background:none !important; padding:0 !important; font-weight: 300 !important; }
.detail-way-to-come .info input { display:inline-block; width:150px; border:none; border-radius: 30px; padding: 5px 11px; font-size:.7em; color:#fff; background:#4876f0 }
.detail-way-to-come .info input[name='subway-line2'] { background:#28C432; }
.detail-way-to-come .info input[name='subway-line3'] { background:#BF9D43; }

/*
-----------------------------------------------------------------------------
진료종합안내 - 통합절차안내
-----------------------------------------------------------------------------
*/
.step ul { display:flex; justify-content: space-between;font-family: "Noto Sans KR", serif }
.step ul li { min-width:130px; background:none !important; color:#666 !important;line-height: 2; text-align:center; position:relative; }
.step ul li:after { content:url("img/step_arrow.png"); font-family: FontAwesome, serif; position:absolute; right:-15px; top:34px }
.step ul li:last-child:after { content: none }
.step ul li strong { font-weight: 900; font-size:17px !important; color:#353535 !important; }

/*
-----------------------------------------------------------------------------
주차안내
-----------------------------------------------------------------------------
*/
#detail-parking .item { border-top:1px solid #e8e8e8; padding:35px 0; font-size:18px; display:flex }
#detail-parking .item:first-child { border-top:none }
#detail-parking .item .title { width:140px; font-size: 20px; font-weight: 700; margin-right:20px !important; }
#detail-parking .item .info { width:1000px; font-weight: 300 }
#detail-parking .item .info ul li { font-size:18px; font-weight: 300; }

/*
-----------------------------------------------------------------------------
3D 스마일 페이지 디자인
-----------------------------------------------------------------------------
*/
#m2s1_01 {
    height:896px;
    background: no-repeat center center url(img/m2s1_01_bg.png);
    background-size: cover;
    text-align:center;
    color:#fff;
    transform: scale(1.2);
}
#m2s1_01.on {
    transform: scale(1);
    transition: transform 0.7s ease-out;
}

#m2s1_01 h2 {
    color:#fff;
    font-size: 72px;
    font-weight: normal;
    text-shadow: 0 0 10px #001559;
    padding-top:190px
}
#m2s1_01 p {
    text-shadow: 0 0 5px #001559;
    font-size:24px
}

#m2s1_02 {
    height:900px;
    background: no-repeat center center url(img/m2_s1_02.png);
    background-size: cover;
    text-align:center;
    color:#000;
    transform: scale(1.2);
}
#m2s1_02.on {
    transform: scale(1);
    transition: transform 0.7s ease-out;
}
#m2s1_02 h2 {
    color:#000;
    font-size: 42px;
    font-weight: bold;
    padding-top:190px
}
#m2s1_02 p {font-size:20px}

#m2s1_03 {text-align:center;color:#000;}
#m2s1_03 img {transform: scale(1.2);}
#m2s1_03 img.on {transform: scale(1);transition: transform 0.7s ease-out;}

#m2s1_03 h2 {color:#000;font-size: 42px;font-weight: bold;padding-top:190px}
#m2s1_03 p {font-size:20px}

#m2s1_04 {text-align:center;color:#000;}
#m2s1_04 h2 {color:#000;font-size: 42px;font-weight: bold;padding-top:190px}
#m2s1_04 p {font-size:20px}

#m2s1_05 {text-align:center;color:#000;}
#m2s1_05 h2 {color:#000;font-size: 42px;font-weight: bold;padding-top:190px}
#m2s1_05 p {font-size:20px}

#m2s1_06 {text-align:center;color:#000;}
#m2s1_06 h2 {color:#000;font-size: 42px;font-weight: bold;padding-top:190px}
#m2s1_06 p {font-size:20px}

#m2s1_07 {text-align:center;color:#000;}
#m2s1_07 h2 {color:#000;font-size: 42px;font-weight: bold;padding-top:190px}
#m2s1_07 p {font-size:20px}

#m2s1_08 {text-align:center;color:#000;}
#m2s1_08 h2 {color:#000;font-size: 42px;font-weight: bold;padding-top:190px}
#m2s1_08 p {font-size:20px}
#m2s1_08 h3 { text-align: left; font-size: 30px; margin-bottom: 23px; color:#191919 }


/*
-----------------------------------------------------------------------------
수정안과 안전 시스템
-----------------------------------------------------------------------------
*/
#m2_s2_01 {
    height:900px;
    background: no-repeat center center url(img/m2_s2_01.png);
    background-size: cover;
    text-align:center;
    color:#fff;
    transform: scale(1.2);
}
#m2_s2_01.on {
    transform: scale(1);
    transition: transform 0.7s ease-out;
}
#m2_s2_01 h2 {
    color:#44eca7;
    font-size: 42px;
    font-weight: bold;
    padding-top:190px
}
#m2_s2_01 p {font-size:20px}

#m2_s2_history {
    padding-top:110px;
    position:relative;
    background: repeat-y center 200px url("img/history-center-line.png");
    margin-bottom: 50px;
}
.page-contents .m2_s2_title h2 {
    color:#191919;
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    margin-bottom:50px;
    padding-top:190px
}

#m2_s2_history:before {
    width:19px;
    height:19px;
    position:absolute;
    content: " ";
    display:block;
    top:0;
    left:50%;
    margin-left:-10px;
    background: no-repeat center top url("img/history-circle.png");
}
#m2_s2_history:after {
    content: "";
    display:block;
    clear:both;
}


#m2_s2_history .history-left {
    clear:right;
    text-align:right;
    width:609px;
    padding-right:88px;
    padding-bottom:100px;
    position:relative;
    background: no-repeat right 10px url("img/history-circle-left.png");
}

#m2_s2_history .history-left h3 {
    position:absolute;
    right: -280px;
    top: -70px;
    font-size:100px;
    color:#656565;

    opacity: 0;
    transform: translateX(100px);
    -webkit-transition: transform 1s 0s ease, opacity 1s 0s ease;
    -moz-transition: transform 1s 0s ease, opacity 1s 0s ease;
    -o-transition: transform 1s 0s ease, opacity 1s 0s ease;
    transition: transform 1s 0s ease, opacity 1s 0s ease;
}
#m2_s2_history .history-left.on h3 {
    transform: translateX(0);
    opacity: 1;
}
#m2_s2_history .history-left p {
    font-size:18px;
    color:#191919;
    margin-bottom: 15px;

    opacity: 0;
    transform: translateX(-100px);
    -webkit-transition: transform 1s 0s ease, opacity 1s 0s ease;
    -moz-transition: transform 1s 0s ease, opacity 1s 0s ease;
    -o-transition: transform 1s 0s ease, opacity 1s 0s ease;
    transition: transform 1s 0s ease, opacity 1s 0s ease;
}
#m2_s2_history .history-left.on p {
    opacity: 1;
    transform: translateX(0);
}
#m2_s2_history .history-left p strong {
    font-size:24px;
    font-weight: 900;
    color:#191919;
}

#m2_s2_history .history-right {
    float:right;
    text-align:left;
    width:610px;
    padding-left:88px;
    padding-bottom:100px;
    position:relative;
    background: no-repeat 0 10px url("img/history-circle-right.png");
}
#m2_s2_history .history-right:last-child {
    padding-bottom: 0;
    margin-bottom:-25px;
    background: no-repeat 0 11px url("img/history-circle-right.png");
}

#m2_s2_history .history-right h3 {
    position:absolute;
    left: -280px;
    top: -70px;
    font-size:100px;
    color:#656565;

    opacity: 0;
    transform: translateX(-100px);
    -webkit-transition: transform 1s 0s ease, opacity 1s 0s ease;
    -moz-transition: transform 1s 0s ease, opacity 1s 0s ease;
    -o-transition: transform 1s 0s ease, opacity 1s 0s ease;
    transition: transform 1s 0s ease, opacity 1s 0s ease;
}
#m2_s2_history .history-right.on h3 {
    transform: translateX(0);
    opacity: 1;
}

#m2_s2_history .history-right p {
    font-size:18px;
    color:#191919;
    margin-bottom: 15px;

    opacity: 0;
    transform: translateX(100px);
    -webkit-transition: transform 1s 0s ease, opacity 1s 0s ease;
    -moz-transition: transform 1s 0s ease, opacity 1s 0s ease;
    -o-transition: transform 1s 0s ease, opacity 1s 0s ease;
    transition: transform 1s 0s ease, opacity 1s 0s ease;
}
#m2_s2_history .history-right.on p {
    opacity: 1;
    transform: translateX(0);
}

#m2_s2_history .history-right p strong {
    font-size:24px;
    font-weight: 900;
    color:#191919;
}

.page-contents.cke_editable #m2_s2_history .history-left p,
.page-contents.cke_editable #m2_s2_history .history-left h3,
.page-contents.cke_editable #m2_s2_history .history-right p,
.page-contents.cke_editable #m2_s2_history .history-right h3 {
    opacity: 1;
}


#m2_s2_03 {
    height:900px;
    background: no-repeat center bottom url(/theme/basic/skin/board/staff/img/staff.png) #f9f9f9;
    text-align:center;
    color:#191919
}
#m2_s2_03 h2 {
    color:#191919;
    font-size: 42px;
    font-weight: bold;
    padding-top:190px
}


#m2_s3_1_01.section {
    margin-top:-40px;
    height:933px;
    background: no-repeat center center url(img/m2_s3_1_visual.png);
}

#m2_s3_1_01.section h2 {
    padding-top:130px;
}


#m2_s3_1_02.accordion .content p {
    line-height: 1.6;
    font-size:15pt;
}

#m2_s3_1_02.accordion .content p img {
    float: left;
    margin-right:40px;
}

#page-tail-staff.section {
    height:900px;
    background: no-repeat center bottom url(/theme/basic/skin/board/staff/img/staff.png) #f9f9f9;
    text-align:center;
    color:#191919
}
#page-tail-staff.section h2 {
    padding-top:140px;
}

#m2_s3_2_1.section {
    height:805px;
    margin-top:-40px;
    background: no-repeat center bottom url(img/m3_s3_2_1.png);
}
#m2_s3_2_1.section h2 {
    padding-top:150px;
}


#m2_s3_2_4 {
    height:643px;
    padding-left:595px;
    padding-top:40px;
    background: no-repeat left center url(img/m3_s3_2_4.png) #f9f9f9;
}
#m2_s3_2_4 table th,
#m2_s3_2_4 table td {
    border-bottom:1px solid #cccfd6;
    padding:30px 0;
    font-weight: 300;
    text-align: left;
}
#m2_s3_2_4 table tr:last-child th,
#m2_s3_2_4 table tr:last-child td {
    border-bottom:none;
}
#m2_s3_2_4 table th {
    color:#656565;
    font-size:14px
}
#m2_s3_2_4 table th strong {
    color:#191919;
    font-weight: 700;
    font-size:18px
}
#m2_s3_2_4 table td {
    width:275px;
}

#m2_s3_2_5 {
    text-align: center;
    padding:40px 0;
    background-color: #f9f9f9;
}


#m2_s3_3_1.section {
    height:804px;
    margin-top:-40px;
    background: no-repeat center bottom url(img/m2_s3_3_1.png) #f9f9f9;
}

#m2_s3_3_1.section h2 {
    padding-top:150px;
}

#m2_s3_3_2.section {
    margin-top:-40px;
    height:900px;
    color:#fff;
    background: no-repeat center bottom url(img/m2_s3_3_2.png) #4876ef;
}

#m2_s3_3_2.section h2 {
    color:#fff;
    padding-top:130px;
}

#m2_s3_3_2.section .links {
    display:flex; justify-content: space-between; flex-wrap: wrap;
}
#m2_s3_3_2.section .links p {
    text-align: left;
    margin-left:80px;
    margin-right:300px;
    margin-bottom:115px;
}
#m2_s3_3_2.section .links p:nth-child(2),
#m2_s3_3_2.section .links p:nth-child(4) {
    text-align: right;
    margin-left:0;
    margin-right:150px;
}

.page-contents .accordion .content.image-text img {
    float:left
}
.page-contents .accordion .content.image-text ul {
    margin-left:390px;
}


